name: Rust Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        rust: [stable, beta, nightly]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Rust
      uses: ./.github/actions/setup-rust
      with:
        rust-version: ${{ matrix.rust }}

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
